name: Build-PDF

on:
  push:
    paths: ["docs/**/*.tex"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile LaTeX
      uses: xu-cheng/latex-action@v3
      with:
        root_file: docs/main.tex

    - name: Upload PDF
      uses: actions/upload-artifact@v4
      with:
        name: main-pdf
        path: docs/main.pdf
